[Unit]
Description=Check BookMG GitHub main for updates

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=15s
Unit=bookmg-deploy.service

[Install]
WantedBy=timers.target
